@media (max-width: 580px){
    .top {
        width: 85%;
    }
    .display {
       width: 85%;
       height: 80px;
   }
   .display > p {
        font-size: 2.4rem;
   }
   .keys {
        width: 85%;
 
   }
   .keys > input {
       height: 78%;
       width: 78%;
   }
}
@media (max-width: 415px){
   .display {
        height: 65px;
   }
   .display > p {
    font-size: 1.9rem;
}
    .keys {
        height: 350px;
   }
   .keys > input {
       font-size: 1.5rem;
   }
}